{
  "Entries": [
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeAnalytics/register?api-version=2016-02-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeAnalytics\",\r\n  \"namespace\": \"Microsoft.DataLakeAnalytics\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"locations\": [\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/dataLakeStoreAccounts\",\r\n      \"locations\": [\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/storageAccounts\",\r\n      \"locations\": [\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeAnalytics?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeAnalytics\",\r\n  \"namespace\": \"Microsoft.DataLakeAnalytics\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"operations\",\r\n [...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.Storage/register?api-version=2016-02-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.Storage\",\r\n  \"namespace\": \"Microsoft.Storage\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageAccounts\",\r\n      \"location[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.Storage?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.Storage\",\r\n  \"namespace\": \"Microsoft.Storage\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageAccounts\",\r\n      \"locations\": [\r\n[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeStore/register?api-version=2016-02-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeStore\",\r\n  \"namespace\": \"Microsoft.DataLakeStore\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"operations\",\r\n   [...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeStore?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeStore\",\r\n  \"namespace\": \"Microsoft.DataLakeStore\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locat[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourcegroups/rgaba14545?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'rgaba14545' could not be found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourcegroups/rgaba14545?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba14545\",\r\n  \"name\": \"rgaba14545\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba14545/providers/Microsoft.DataLakeStore/accounts/testdatalake11479?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/testdatalake11479' under resource group 'rgaba14545' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba14545/providers/Microsoft.DataLakeStore/accounts/testdatalake11479?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"trustedIdProviderState\": \"Disabled\",\r\n    \"trustedIdProviders\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"testdatalake11479.azuredatalakestore.net\",\r\n    \"accountId\": \"130ce6cb-b9f8-4f7d-b251-74a21a126ec9\",\r\n    \"creationTime\": \"2016-07-19T01:06:14.8024743Z\",\r\n    \"lastModifiedTime\": \"2016-07-19T01:06:14.8024743Z\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba14545/providers/Microsoft.DataLakeStore/accounts/testdatalake11479\",\r\n  \"name\": \"testdatalake11479\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14994"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba14545/providers/Microsoft.DataLakeStore/accounts/testdatalake11479?api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"name\": \"testdatalake11479\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"accountId\": \"130ce6cb-b9f8-4f7d-b251-74a21a126ec9\",\r\n    \"creationTime\": null,\r\n    \"lastModifiedTime\": null\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba14545/providers/Microsoft.DataLakeStore/accounts/testdatalake11479\",\r\n  \"name\": \"testdatalake11479\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourcegroups/rgaba14545/providers/Microsoft.DataLakeStore/accounts/testdatalake11479/operationresults/0?api-version=2015-10-01-preview"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/130ce6cb-b9f8-4f7d-b251-74a21a126ec90?api-version=2015-10-01-preview&expanded=true"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/130ce6cb-b9f8-4f7d-b251-74a21a126ec90?api-version=2015-10-01-preview&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba14545/providers/Microsoft.DataLakeAnalytics/accounts/testaba27930?api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"name\": \"testaba27930\",\r\n  \"properties\": {\r\n    \"defaultDataLakeStoreAccount\": \"testdatalake11479\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"name\": \"testdatalake11479\",\r\n        \"properties\": {\r\n          \"suffix\": \"azuredatalakestore.net\"\r\n        }\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStoreAccount\": \"testdatalake11479\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"azuredatalakestore.net\"\r\n        },\r\n        \"name\": \"testdatalake11479\"\r\n      }\r\n[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/ad3fe7be-7be5-4a25-8235-d95c803b90460?api-version=2015-10-01-preview&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba14545/providers/Microsoft.DataLakeAnalytics/accounts/testaba27930?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStoreAccount\": \"testdatalake11479\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"azuredatalakestore.net\"\r\n        },\r\n        \"name\": \"testdatalake11479\"\r\n      }\r\n    ],\r\n    \"storageAccounts\": [],\r\n    \"maxDegreeOfParallelism\": 60,\r\n    \"maxJobCount\": 3,\r\n    \"hiveMetastores\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"testaba27930.azuredatalakeanalytics.net\",\r\n    \"accountId\": \"ad3fe7be-7be5-4a25-8235-d95c803b9046\",\r\n    \"creationTime\": \"2016-07-19T01:07:10.4576398Z\",\r\n    \"lastModifiedTime\": \"2016-07-19T01:07:10.4576398Z\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba14545/providers/Microsoft.DataLakeAnalytics/accounts/testaba27930\",\r\n  \"name\": \"testaba27930\",\r\n  \"type\": \"Microsoft.DataLakeAnalytics/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Jobs/38f20519-5e7b-4158-b470-80c4e736185a?api-version=2016-03-20-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"jobId\": \"38f20519-5e7b-4158-b470-80c4e736185a\",\r\n  \"name\": \"testjob1977\",\r\n  \"type\": \"USql\",\r\n  \"degreeOfParallelism\": 2,\r\n  \"properties\": {\r\n    \"type\": \"USql\",\r\n    \"script\": \"\\r\\nDROP DATABASE IF EXISTS testdb15807; CREATE DATABASE testdb15807; \\r\\n//Create Table\\r\\nCREATE TABLE testdb15807.dbo.testtbl18640\\r\\n(\\r\\n        //Define schema of table\\r\\n        UserId          int, \\r\\n        Start           DateTime, \\r\\n        Region          string, \\r\\n        Query           string, \\r\\n        Duration        int, \\r\\n        Urls            string, \\r\\n        ClickedUrls     string,\\r\\n    INDEX idx1 //Name of index\\r\\n    CLUSTE[...]
    {
      "RequestUri": "/Jobs/38f20519-5e7b-4158-b470-80c4e736185a?api-version=2016-03-20-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"jobId\": \"38f20519-5e7b-4158-b470-80c4e736185a\",\r\n  \"name\": \"testjob1977\",\r\n  \"type\": \"USql\",\r\n  \"submitter\": \"adlsvc01@benwgoldoutlook.onmicrosoft.com\",\r\n  \"degreeOfParallelism\": 2,\r\n  \"priority\": 0,\r\n  \"submitTime\": \"2016-07-18T18:09:41.3131216-07:00\",\r\n  \"state\": \"Compiling\",\r\n  \"result\": \"Succeeded\",\r\n  \"stateAuditRecords\": [\r\n    {\r\n      \"newState\": \"New\",\r\n      \"timeStamp\": \"2016-07-18T18:09:41.3131216-07:00\",\r\n      \"details\": \"userName:adlsvc01@benwgoldoutlook.onmicrosoft.com;submitMachine:N/A\"\r\n    },\r\n    {\r\n      \"newState\": \"Compiling\",\r\n      \"timeStamp\": \"2016-07-18T18:09:42.2193912-07:00\",\r\n      \"details\": \"CcsAttempts:1;Status:Dispatched\"\r\n    }\r\n  ],\r\n  \"properties\": {\r\n    \"owner\": \"adlsvc01@benwgoldoutlook.onmicrosoft.com\",\r\n    \"resources\": [\r\n      {\r\n        \"name\": \"Profile\",\r\n        \"resourcePath\": \"adl://testdatalake11479.azuredatalakestore.net/system/jobservice/jobs/Usql/2016/07/19/01/09/38f20519-5e7b-4158-b470-80c4e736185a/profile\",\r\n        \"type\": \"StatisticsResource\"\r\n      },\r\n      {\r\n        \"name\": \"__ScopeRuntimeStatistics__.xml\",\r\n        \"resourcePath\": \"adl://testdatalake11479.azuredatalakestore.net/system/jobservice/jobs/Usql/2016/07/19/01/09/38f20519-5e7b-4158-b470-80c4e736185a/__ScopeRuntimeStatistics__.xml\",\r\n        \"type\": \"StatisticsResource\"\r\n      }\r\n    ],\r\n    \"runtimeVersion\": \"default\",\r\n    \"rootProcessNodeId\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"script\": \"\\nDROP DATABASE IF EXISTS testdb15807; CREATE DATABASE testdb15807; \\n//Create Table\\nCREATE TABLE testdb15807.dbo.testtbl18640\\n(\\n        //Define schema of table\\n        UserId          int, \\n        Start           DateTime, \\n        Region          string, \\n        Query           string, \\n        Duration        int, \\n        Urls            string, \\n        ClickedUrls     string,\\n    INDEX idx1 //Name of[...]
[...]
    {
      "RequestUri": "/Jobs/38f20519-5e7b-4158-b470-80c4e736185a?api-version=2016-03-20-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"jobId\": \"38f20519-5e7b-4158-b470-80c4e736185a\",\r\n  \"name\": \"testjob1977\",\r\n  \"type\": \"USql\",\r\n  \"submitter\": \"adlsvc01@benwgoldoutlook.onmicrosoft.com\",\r\n  \"degreeOfParallelism\": 2,\r\n  \"priority\": 0,\r\n  \"submitTime\": \"2016-07-18T18:09:41.3131216-07:00\",\r\n  \"startTime\": \"2016-07-18T18:10:40.9669262-07:00\",\r\n  \"state\": \"Running\",\r\n  \"result\": \"Succeeded\",\r\n  \"stateAuditRecords\": [\r\n    {\r\n      \"newState\": \"New\",\r\n      \"timeStamp\": \"2016-07-18T18:09:41.3131216-07:00\",\r\n      \"details\": \"userName:adlsvc01@benwgoldoutlook.onmicrosoft.com;submitMachine:N/A\"\r\n    },\r\n    {\r\n      \"newState\": \"Compiling\",\r\n      \"timeStamp\": \"2016-07-18T18:09:42.2193912-07:00\",\r\n      \"details\": \"CcsAttempts:1;Status:Dispat[...]
[...]
    {
      "RequestUri": "/Jobs/38f20519-5e7b-4158-b470-80c4e736185a?api-version=2016-03-20-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"jobId\": \"38f20519-5e7b-4158-b470-80c4e736185a\",\r\n  \"name\": \"testjob1977\",\r\n  \"type\": \"USql\",\r\n  \"submitter\": \"adlsvc01@benwgoldoutlook.onmicrosoft.com\",\r\n  \"degreeOfParallelism\": 2,\r\n  \"priority\": 0,\r\n  \"submitTime\": \"2016-07-18T18:09:41.3131216-07:00\",\r\n  \"startTime\": \"2016-07-18T18:10:40.9669262-07:00\",\r\n  \"endTime\": \"2016-07-18T18:10:55.6547309-07:00\",\r\n  \"state\": \"Ended\",\r\n  \"result\": \"Succeeded\",\r\n  \"stateAuditRecords\": [\r\n    {\r\n      \"newState\": \"New\",\r\n      \"timeStamp\": \"2016-07-18T18:09:41.3131216-07:00\",\r\n      \"details\": \"userName:adlsvc01@benwgoldoutlook.onmicrosoft.com;submitMachine:N/A\"\r\n    },\r\n    {\r\n      \"newState\": \"Compiling\",\r\n      \"timeStamp\": \"2016-07-18T18:09:42.2193912-07:00\",\r\n      \"details\": \"CcsAttempts:1;Status:Dispatch[...]
    {
      "RequestUri": "/catalog/usql/databases?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba27930.azuredatalakeanalytics.net/sqlip/$metadata#databases\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testaba27930\",\r\n      \"databaseName\": \"master\",\r\n      \"version\": \"74603a41-b672-4f2e-be11-5c8a2f7b9bab\"\r\n    },\r\n    {\r\n      \"computeAccountName\": \"testaba27930\",\r\n      \"databaseName\": \"testdb15807\",\r\n      \"version\": \"5ab0832d-546c-408e-aa94-c0a1e077f071\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb15807?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba27930.azuredatalakeanalytics.net/sqlip/$metadata#databases/$entity\",\r\n  \"computeAccountName\": \"testaba27930\",\r\n  \"databaseName\": \"testdb15807\",\r\n  \"version\": \"5ab0832d-546c-408e-aa94-c0a1e077f071\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb15807/schemas/dbo/tables?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba27930.azuredatalakeanalytics.net/sqlip/$metadata#tables\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testaba27930\",\r\n      \"databaseName\": \"testdb15807\",\r\n      \"schemaName\": \"dbo\",\r\n      \"tableName\": \"testtbl18640\",\r\n      \"columnList\": [\r\n        {\r\n          \"name\": \"UserId\",\r\n          \"type\": \"System.Int32\"\r\n        },\r\n        {\r\n          \"name\": \"Start\",\r\n          \"type\": \"System.DateTime\"\r\n        },\r\n        {\r\n          \"name\": \"Region\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"Query\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"Duration\",\r\n          \"type\": \"System.Int32\"\r\n        },\r\n        {\r\n          \"name\": \"Urls\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"ClickedUrls\",\r\n          \"type\": \"System.String\"\r\n        }\r\n      ],\r\n      \"indexList\": [\r\n        {\r\n          \"name\": \"idx1\",\r\n          \"indexKeys\": [\r\n            {\r\n              \"name\": \"Region\",\r\n              \"descending\": false\r\n            }\r\n          ],\r\n          \"columns\": [\r\n            \"Region\",\r\n            \"UserId\"\r\n          ],\r\n          \"distributionInfo\": {\r\n            \"type\": 2,\r\n            \"keys\": [\r\n              {\r\n                \"name\": \"Region\",\r\n                \"descending\": false\r\n              }\r\n            ],\r\n            \"count\": 0,\r\n            \"dynamicCount\": 0\r\n          },\r\n          \"partitionFunction\": \"3a4af367-526a-4d46-9f48-670a8f34f23c\",\r\n          \"partitionKeyList\": [\r\n            \"UserId\"\r\n          ],\r\n          \"isColumnstore\": false,\r\n          \"indexId\": 1,\r\n          \"isUnique\": false\r\n        }\r\n      ],\r\n      \"partitionKeyList\": [],\r\n      \"externalTable\": null,\r\n      \"distributionInfo\": null,\r\n      \"version\": \"246a76b7-c90f-4474-8909-744f0e9043f7\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb15807/schemas/dbo/tables/testtbl18640?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba27930.azuredatalakeanalytics.net/sqlip/$metadata#tables/$entity\",\r\n  \"computeAccountName\": \"testaba27930\",\r\n  \"databaseName\": \"testdb15807\",\r\n  \"schemaName\": \"dbo\",\r\n  \"tableName\": \"testtbl18[...]
    {
      "RequestUri": "/catalog/usql/databases/testdb15807/schemas/dbo/tablevaluedfunctions?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba27930.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testaba27930\",\r\n      \"databaseName\": \"testdb15807\",\r\n      \"schemaName\": \"dbo\",\r\n      \"tvfName\": \"testtvf14383\",\r\n      \"definition\": \"//create table weblogs on space-delimited website log data\\nCREATE FUNCTION testdb15807.dbo.testtvf14383()\\nRETURNS @result TABLE\\n(\\n    s_date DateTime,\\n    s_time string,\\n    s_sitename string,\\n    cs_method string, \\n    cs_uristem string,\\n    cs_uriquery string,\\n    s_port int,\\n    cs_username string, \\n    c_ip string,\\n    cs_useragent string,\\n    cs_cookie string,\\n    cs_referer string, \\n    cs_host string,\\n    sc_status int,\\n    sc_substatus int,\\n    sc[...]
    {
      "RequestUri": "/catalog/usql/databases/testdb15807/schemas/dbo/tablevaluedfunctions/testtvf14383?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba27930.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions/$entity\",\r\n  \"computeAccountName\": \"testaba27930\",\r\n  \"databaseName\": \"testdb15807\",\r\n  \"schemaName\": \"dbo\",\r\n[...]
    {
      "RequestUri": "/catalog/usql/databases/testdb15807/schemas/dbo/views?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba27930.azuredatalakeanalytics.net/sqlip/$metadata#views\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testaba27930\",\r\n      \"databaseName\": \"testdb15807\",\r\n      \"schemaName\": \"dbo\",\r\n      \"viewName\": \"testview11479\",\r\n      \"definition\": \"CREATE VIEW testdb15807.dbo.testview11479 \\nAS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\nAS \\nT(a, b);\",\r\n      \"version\": \"16aa2b79-f1a4-496a-a8cf-9a0489c88b8e\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb15807/schemas/dbo/views/testview11479?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba27930.azuredatalakeanalytics.net/sqlip/$metadata#views/$entity\",\r\n  \"computeAccountName\": \"testaba27930\",\r\n  \"databaseName\": \"testdb15807\",\r\n  \"schemaName\": \"dbo\",\r\n  \"viewName\": \"testview11479\",\r\n  \"definition\": \"CREATE VIEW testdb15807.dbo.testview11479 \\nAS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\nAS \\nT(a, b);\",\r\n  \"version\": \"16aa2b79-f1a4-496a-a8cf-9a0489c88b8e\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb15807/schemas/dbo/procedures?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba27930.azuredatalakeanalytics.net/sqlip/$metadata#procedures\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testaba27930\",\r\n      \"databaseName\": \"testdb15807\",\r\n      \"schemaName\": \"dbo\",\r\n      \"procName\": \"testproc11482\",\r\n      \"definition\": \"CREATE PROCEDURE testdb15807.dbo.testproc11482()\\nAS BEGIN\\n  CREATE VIEW testdb15807.dbo.testview11479 \\n  AS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\n  AS \\n  T(a, b);\\nEND;\",\r\n      \"version\": \"d5afa542-c8ba-40ee-bf2e-55c50d6f5e87\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb15807/schemas/dbo/procedures/testproc11482?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba27930.azuredatalakeanalytics.net/sqlip/$metadata#procedures/$entity\",\r\n  \"computeAccountName\": \"testaba27930\",\r\n  \"databaseName\": \"testdb15807\",\r\n  \"schemaName\": \"dbo\",\r\n  \"procName\": \"testproc11482\",\r\n  \"definition\": \"CREATE PROCEDURE testdb15807.dbo.testproc11482()\\nAS BEGIN\\n  CREATE VIEW testdb15807.dbo.testview11479 \\n  AS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\n  AS \\n  T(a, b);\\nEND;\",\r\n  \"version\": \"d5afa542-c8ba-40ee-bf2e-55c50d6f5e87\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb15807/schemas/dbo/tables/testtbl18640/partitions?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba27930.azuredatalakeanalytics.net/sqlip/$metadata#partitions\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testaba27930\",\r\n      \"databaseName\": \"testdb15807\",\r\n      \"schemaName\": \"dbo\",\r\n      \"partitionName\": \"testtbl18640_Partition_d67a39b4-d400-4eb8-b19e-1f744506f7e6\",\r\n      \"indexId\": 1,\r\n      \"label\": [\r\n        \"1\"\r\n      ],\r\n      \"createDate\": \"2016-07-19T01:10:53.593-07:00\",\r\n      \"parentName\": {\r\n        \"server\": \"ad3fe7be-7be5-4a25-8235-d95c803b9046\",\r\n        \"firstPart\": \"testdb15807\",\r\n        \"secondPart\": \"dbo\",\r\n        \"thirdPart\": \"testtbl18640\"\r\n      },\r\n      \"version\": \"54b87d51-c779-42aa-9d2c-419246b654d4\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
[...]
