{
  "Entries": [
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeStore/register?api-version=2015-11-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeStore\",\r\n  \"namespace\": \"Microsoft.DataLakeStore\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"locations\": [\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/firewallRules\",\r\n      \"locations\": [\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations/operationresults\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations/checkNameAvailability\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations/capability\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    }\r\n  ],\r\n  \"registrationState\": \"Registered\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeStore?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeStore\",\r\n  \"namespace\": \"Microsoft.DataLakeStore\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locat[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.Storage/register?api-version=2015-11-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.Storage\",\r\n  \"namespace\": \"Microsoft.Storage\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageAccounts\",\r\n      \"location[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.Storage?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.Storage\",\r\n  \"namespace\": \"Microsoft.Storage\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageAccounts\",\r\n      \"locations\": [\r\n[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourcegroups/datalakerg12897?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'datalakerg12897' could not be found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14985"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourcegroups/datalakerg12897?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/datalakerg12897\",\r\n  \"name\": \"datalakerg12897\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14984"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/datalakerg12897/providers/Microsoft.DataLakeStore/accounts/testadlfs17382?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/testadlfs17382' under resource group 'datalakerg12897' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/datalakerg12897/providers/Microsoft.DataLakeStore/accounts/testadlfs17382?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"trustedIdProviderState\": \"Disabled\",\r\n    \"trustedIdProviders\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"testadlfs17382.azuredatalakestore.net\",\r\n    \"accountId\": \"93c83f5c-5f14-47b0-b5b8-a19d620c7790\",\r\n    \"creationTime\": \"2016-07-01T18:02:45.9897525Z\",\r\n    \"lastModifiedTime\": \"2016-07-01T18:02:45.9897525Z\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/datalakerg12897/providers/Microsoft.DataLakeStore/accounts/testadlfs17382\",\r\n  \"name\": \"testadlfs17382\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14982"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/datalakerg12897/providers/Microsoft.DataLakeStore/accounts/testadlfs17382?api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"name\": \"testadlfs17382\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"accountId\": \"93c83f5c-5f14-47b0-b5b8-a19d620c7790\",\r\n    \"creationTime\": null,\r\n    \"lastModifiedTime\": null\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/datalakerg12897/providers/Microsoft.DataLakeStore/accounts/testadlfs17382\",\r\n  \"name\": \"testadlfs17382\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourcegroups/datalakerg12897/providers/Microsoft.DataLakeStore/accounts/testadlfs17382/operationresults/0?api-version=2015-10-01-preview"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/93c83f5c-5f14-47b0-b5b8-a19d620c77900?api-version=2015-10-01-preview&expanded=true"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/93c83f5c-5f14-47b0-b5b8-a19d620c77900?api-version=2015-10-01-preview&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14983"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile01.txt2205?op=CREATE&write=true&api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "These are some random test contents 1234!@",
      "RequestHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://testadlfs17382.azuredatalakestore.net/webhdfs/v1/SDKTestFolder01/SDKTestFile01.txt2205?op=CREATE&write=true&api-version=2015-10-01-preview"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[de648dd6-1a83-46e3-a823-fe4c7b24c1b1][ AuthTime::1508.05178186198::PostAuthTime::561.135546739341 ][S-FsOpenStream :: 00:00:269 ms]%0a[S-FsAppendStream :: 00:00:185 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:186 ms]%0a[S-FsCloseHandle :: 00:00:001 ms]%0a[CREATE :: 00:00:458 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "16.05.18.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile01.txt2205?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 42,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1467396193230,\r\n    \"modificationTime\": 1467396193497,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"2e6c02d2-a364-4530-9137-d17403996cbf\",\r\n    \"group\": \"2e6c02d2-a364-4530-9137-d17403996cbf\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[43993672-75d6-4be9-a65c-97ccade23953][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatusV2 :: 00:00:021 ms]%0a[GETFILESTATUS :: 00:00:022 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "16.05.18.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile01.txt2205?recursive=false&op=DELETE&api-version=2015-10-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[7930fe8d-307f-4870-aa17-78adc34b6b02][ AuthTime::0::PostAuthTime::0 ][S-FsDelete :: 00:00:319 ms]%0a[DELETE :: 00:00:321 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "16.05.18.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile01.txt2205?recursive=false&op=DELETE&api-version=2015-10-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"boolean\": false\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[ac9045f4-5304-40c0-b10b-921b25af0c36][ AuthTime::0::PostAuthTime::0 ][S-FsDelete :: 00:00:011 ms]%0a[DELETE :: 00:00:012 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "16.05.18.00"
        ],
        "Status": [
          "0x8309000A"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    ".ctor": [
      "datalakerg12897",
      "testdatalake17190",
      "testadlfs17382"
    ],
    "CreateFile": [
      "SDKTestFolder01/SDKTestFile01.txt2205"
    ]
  },
  "Variables": {
    "SubscriptionId": "53d9063d-87ae-4ea8-be90-3686c3b8669f"
  }
}